* {
    box-sizing: border-box;
}

.header {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.btn {
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
}

.board {
    display: grid;
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: grey;
}

.square {
    background-color: blue;
}

.square:hover {
    background-color: yellow;   
}

.full {
    background-color: yellow;
}