.header {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.btn {
    padding: 20px;
    border-radius: 5px;
    font-size: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    margin: auto;
}

.square {
    width: 6vw;
    height: 6vw;
    border: 1px solid white;
    flex: auto;
}

.square:hover {
    background-color: yellow;   
}

.full {
    background-color: yellow;
}